body{margin: 0%;
    padding: 0%;
    background: #999;
    text-align: center;
}
.signup{
    padding-top: 5%;
    width: 320px;
    height: 420px;
    background: rgb(207, 114, 114);
    color: #fff;
    top: 30%;
    left: 37%;
    position: absolute;
    box-sizing: border-box;
}
ul{
    float:TOP;
    list-style-type:none;
   
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none ;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}